body{
    background-color: #FAFAFF;
}

header {
    background-color: #8390c4;
    border: 2px solid black;
    color: white;
}

.header-container {
    border: 2px solid white;
    background-color: #1E2749;
    color: #FAFAFF;
}

footer {
    background-color: #1E2749;
    color: #FAFAFF;
}

.navi-item-bg {
    background-color: #723bff;
    color: #FAFAFF;
}

.main-container {
    border: 2px solid black;
    background-color: #EBEBFF;
}

.navi-item-bg a{
    color: white;
}